<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" href="js/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--头部-->
<div class="record_list_header">
    <img src="images/back.png" alt="" onclick="go_back()">
    <div class="title">查询记录</div>
</div>

<div class="record_list">
   <ul>
       <li class="record_list_box clearfix">
           <div class="pull-left" style="width: 13%">
               <div class="number">1</div>
           </div>
           <div class="pull-left" style="width: 64%">
               <div class="title">从语素教学角度浅谈对韩汉语词汇教学</div>
               <div class="author">母丹丹</div>
               <div class="status">监测完成</div>
               <div class="time">2020-2-26 11:21:39</div>
           </div>
           <div class="pull-right">
               <div class="report_down">下载报告</div>
               <div class="report_del">删除报告</div>
           </div>
       </li>
       <li class="record_list_box clearfix">
           <div class="pull-left" style="width: 13%">
               <div class="number">2</div>
           </div>
           <div class="pull-left" style="width: 64%">
               <div class="title">从语素教学角度浅谈对韩汉语词汇教学</div>
               <div class="author">母丹丹</div>
               <div class="status">监测完成</div>
               <div class="time">2020-2-26 11:21:39</div>
           </div>
           <div class="pull-right">
               <div class="report_down">下载报告</div>
               <div class="report_del">删除报告</div>
           </div>
       </li>
       <li class="record_list_box clearfix">
           <div class="pull-left" style="width: 13%">
               <div class="number">3</div>
           </div>
           <div class="pull-left" style="width: 64%">
               <div class="title">从语素教学角度浅谈对韩汉语词汇教学</div>
               <div class="author">母丹丹</div>
               <div class="status">监测完成</div>
               <div class="time">2020-2-26 11:21:39</div>
           </div>
           <div class="pull-right">
               <div class="report_down">下载报告</div>
               <div class="report_del">删除报告</div>
           </div>
       </li>
   </ul>

</div>
<!--分页开始-->
<div id="test1"></div>
<!--分页结束-->


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script src="js/layui/layui.js"></script>
<script type="text/javascript" src="js/list.js"></script>
</body>
</html>